# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.CpS-Counter-Timer.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Nikola\Documents\#code\C#\CpS-Counter-with-Timer\CpS-Counter-Timer\.idea\.idea.CpS-Counter-Timer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
